<div class="background"></div>

<div class="wrapper">
  <div class="container">

    <div class="home-center-height">
      <div class="home-title">
        <div class="center home-container">
          <span class="inline-block">
            What's going on in...
          </span>
          <select onchange="window.location=this.value">
            <option>your favorite city this month?</option>
            <% @cities.each do |c| %> 
              <option value="cities/<%= c.slug %>"><%= c.title %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div class="wrapper home-body-container">
  <div class="container">

    <% unless user_signed_in? %>
      <div class="mid-container">

        <div class="padding-top center home-title">
          Register for Sunburst Peak
        </div>

        <div class="border-bottom">
          <div class="padding-vertical mid-container">
            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :username %>
                <%= f.text_field :username, class: "text-field" %>
              </div>

              <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email, class: "text-field" %>
              </div>

              <div class="field">
                <%= f.label :password %> <span class="dark small-text"><%= @minimum_password_length.to_s + " characters minimum" if @minimum_password_length %></span>
                <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
              </div>

              <div class="padding-bottom">
                <%= f.submit "Register", class: "submit-button" %>
              </div>
            <% end %>

            <div>
              <%= link_to "I already have an account!", sign_in_path %>
            </div>

          </div>
        </div>

        <div class="padding-vertical center home-title">
          Why Sunburst Peak?
        </div>

        <div class="border-bottom">
          <div class="mid-container">
            <div class="padding-bottom">
              Check out all the amazing events going on in your city today, this week, this month, this year, this century!
            </div>

            <div class="padding-bottom">
              Keep track of your must-attend events on your page. Never forget to show up to anything again!
            </div>

            <div class="padding-bottom">
              No events going on in your city today? No problem. There's always something to do and you can check out all the things to do at the bottom of every city's page.
            </div>

            <div class="padding-bottom">
              Broke and have no money? We've all been there and that doesnt mean you shouldn't be able to have fun! You can sort by FREE thngs to do in any city. 
            </div>
          </div>
        </div>

      </div>
    <% end %>

    <div class="padding-top center home-title">
      What's happening around the world today?
    </div>

    <div class="">
      <%= calendar number_of_days: 1, events: @events do |date, events| %>
        <% events.each do |event| %>
        


          <div class="padding-bottom">
            <div class="flex padding-horizontal border-sides">
              <div class="twenty-two-image">
                <%= link_to(city_event_path(event.city, event)) do %>
                  <img class="thumbnail-image" srcset="<%= event.image_url(:thumb) %>" width="100%" height="auto" />
                <% end %>
              </div>
              <div class="fifty">
                <div class="post-title padding-bottom-mini">
                  <%= link_to event.title, city_event_path(event.city, event) %>
                </div>
                <div class="only-mobile bold">
                  <%= pluralize(event.rsvps.count, "RSVP") %>
                </div>
                <div class="bold uppercase">
                  <%= event.event_type %><%= " - $" + event.price.to_s if event.paid? %>
                </div>
                <div class="bold">
                  <%= event.start_hour %>:<%= event.start_minute %> <%= event.start_am_pm %> - <%= event.end_hour %>:<%= event.end_minute %> <%= event.end_am_pm %>
                </div>
                <div class="bold padding-bottom-mini">
                  <%= event.venue %>, <%= event.city.title %>
                </div>
                <div class="padding-bottom-mini">
                  <%= event.description.truncate(300) %>
                </div>
              </div>
              <div class="no-mobile twenty-two center center-height title-lower">
                <%= pluralize(event.rsvps.count, "RSVP") %>
              </div>
            </div>
          </div>


        <% end %>
      <% end %>
    </div>

  </div>
</div>