<%= provide(:title, sanitize(@user.username)) %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="title">
        <%= link_to @user.username, user_path(@user) %>
      </div>

      <%= calendar number_of_days: 1, events: @rsvps do |date, rsvps| %>
        <% rsvps.each do |rsvp| %>


        <div class="padding-bottom">
          <div class="flex padding-horizontal border-sides">
            <div class="twenty-two-image">
              <%= link_to(city_event_path(rsvp.event.city, rsvp.event)) do %>
                <img class="thumbnail-image" srcset="<%= rsvp.event.image_url(:original) %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="fifty">
              <div class="post-title padding-bottom-mini">
                <%= link_to rsvp.event.title, city_event_path(rsvp.event.city, rsvp.event) %>
              </div>
              <div class="only-mobile bold">
                <%= pluralize(rsvp.event.rsvps.count, "RSVP") %>
              </div>
              <div class="bold uppercase">
                <%= rsvp.event.event_type %><%= " - $" + rsvp.event.price.to_s if rsvp.event.paid? %>
              </div>
              <div class="bold">
                <%= rsvp.event.start_hour %>:<%= rsvp.event.start_minute %> <%= rsvp.event.start_am_pm %> - <%= rsvp.event.end_hour %>:<%= rsvp.event.end_minute %> <%= rsvp.event.end_am_pm %>
              </div>
              <div class="bold padding-bottom-mini">
                <%= rsvp.event.venue %>, <%= rsvp.event.city.title %>
              </div>
              <div class="padding-bottom-mini">
                <%= rsvp.event.description %>
              </div>
            </div>
            <div class="no-mobile twenty-two center center-height title-lower">
              <%= pluralize(rsvp.event.rsvps.count, "RSVP") %>
            </div>
          </div>
        </div>


        <% end %>
      <% end %>

    </div>
  </div>
</div>