<%= provide(:title, sanitize(@user.username)) %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="title">
        <%= @user.username %>
      </div>

      <%= month_calendar events: (@rsvps) do |day, rsvps| %>    
        <%= content_tag :div, class: "calendar-day", data: {date: day} do %>      
          <div class="day">
            <%= day %>
          </div>

          <div class="no-mobile">
            <% if rsvps.any? %>
              <div class="events">
                <%= pluralize(rsvps.count, "Event") %>
              </div>
            <% end %>
          </div>

          <div class="only-mobile">
            <% if rsvps.any? %>
              <div class="events">
                <%= rsvps.count %>
              </div>
            <% end %>
          </div>

        <% end %>  
      <% end %>

    </div>
  </div>
</div>