<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="title">
        <%= @user.username %> | <%= link_to 'DAY', day_user_path(current_user)  %> | <%= link_to 'WEEK', week_user_path(current_user)  %> | <%= link_to 'MONTH', month_user_path(current_user)  %>
      </div>

      <%= month_calendar events: (@rsvps) do |day, rsvps| %>    
        <%= content_tag :div, class: "calendar-day", data: {date: day} do %>      
          <div class="day">
            <%= day %>
          </div>
          <% if rsvps.any? %>
            <div class="events">
              <%= pluralize(rsvps.count, "Event") %>
            </div>
          <% end %>
        <% end %>  
      <% end %>

    </div>
  </div>
</div>