<%= provide(:title, sanitize(@user.username)) %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <% if @user.banned? %>
        <div class="padding-bottom">
          Your account has been suspended.
        </div>
      <% end %>

      <div class="title">
        <%= @user.username %> | <%= link_to "Settings", edit_user_registration_path(@user) %>
      </div>

      <%= month_calendar events: (@rsvps) do |day, rsvps| %>    
        <%= content_tag :div, class: "calendar-day", data: {date: day} do %>      
          <div class="day">
            <%= day %>
          </div>

          <div class="no-mobile">
            <% if rsvps.any? %>
              <div class="events">
                <%= pluralize(rsvps.count, "Event") %>
              </div>
            <% end %>
          </div>

          <div class="only-mobile">
            <% if rsvps.any? %>
              <div class="events">
                <%= rsvps.count %>
              </div>
            <% end %>
          </div>

        <% end %>  
      <% end %>

    </div>
  </div>
</div>


<% if user_signed_in? && current_user.id == @owner.id %>
  <%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
    <div class="field">
      <label class="unchecked-tab" id="paid-tab" for="is-paid-click">Banned?</label>
            <%= f.check_box(:banned, "banned", id: "is-paid-click") %>
    </div>
    <div class="actions">
      <%= f.submit "Update", class: "submit-button" %>
    </div>
  <% end %>

<% end %>