<% if user_signed_in? %>
  <%= link_to current_user.username, user_path(current_user) %>
<% end %>

<%= link_to 'DAY', day_user_path(current_user)  %>

<%= link_to 'WEEK', week_user_path(current_user)  %>

<%= link_to 'MONTH', month_user_path(current_user)  %>

<%= calendar number_of_days: 1, events: @notes do |date, notes| %>
  <%= date %>
  <% notes.each do |note| %>
    <div>
      <%= note.title %>
    </div>
  <% end %>
<% end %>