<%= provide(:title, "Sign In") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">


      <div class="title">
        Sign in
      </div>

      <div class="padding-top">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :login %>
            <%= f.text_field :login, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="padding-bottom">
            <%= f.submit "Sign in", class: "submit-button" %>
          </div>
        <% end %>
      </div>

      <div>
        <%= link_to "But I don't have an account.", register_path %>
      </div>

    </div>
  </div>
</div>