<%= provide(:title, "Create A Thing") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">


      <div class="title">
        Create a thing
      </div>

      <div class="padding-top">
        <%= form_for(@thing, url: city_things_path) do |f| %>
          <%= render 'partials/errors/thing_errors' %>


          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :image %>
            <%= f.text_field :image, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :venue %>
            <%= f.text_field :venue, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :address %>
            <%= f.text_field :address, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :website %>
            <%= f.text_field :website, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :what_to_bring %>
            <%= f.text_area :what_to_bring, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :what_to_wear %>
            <%= f.text_area :what_to_wear, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :where_to_park %>
            <%= f.text_area :where_to_park, class: "text-area" %>
          </div>

          <div class="field flex">
            <label class="checked-tab" id="free-tab" for="is-free-click">Free?</label>
            <%= f.radio_button(:thing_type, "free", id: "is-free-click", checked: true) %>

            <label class="unchecked-tab" id="paid-tab" for="is-paid-click">Paid?</label>
            <%= f.radio_button(:thing_type, "paid", id: "is-paid-click") %>
          </div>

          <%= f.submit "Create thing", data: { disable_with: 'Creating...' }, class: "submit-button" %>
        <% end %>
      </div>


    </div>
  </div>
</div>