<%= provide(:title, sanitize(@thing.title)) %>


<div class="wrapper">
  <div class="container">

    <div class="padding-vertical border-bottom">
      <div class="padding-bottom title">
        <%= @thing.title %>
      </div>

      <div class="flex">
        <div class="two-column">
          <img class="profile-image" src="<%= @thing.image %>">
        </div>

        <div class="two-column">

          <div class="two-column">
            hey
          </div>
          <div class="sixteen">
            <div class="padding-bottom-mini facebook-button">
              F
            </div>
          </div>
          <div class="sixteen">
            <div class="padding-bottom-mini twitter-button">
              T
            </div>
          </div>
          <div class="sixteen">
            <div class="padding-bottom-mini reddit-button">
              R
            </div>
          </div>

          <div class="padding-bottom-mini">
            <span class="bold">City:</span> <%= link_to @thing.city.city, city_path(@city) %>
          </div>
          <div class="padding-bottom-mini">
            <span class="bold">State:</span> <%= @thing.city.state %>
          </div>
          <div class="padding-bottom-mini">
            <span class="bold">Country:</span> <%= @thing.city.country %>
          </div>
          <div class="padding-bottom-mini">
            <span class="bold">Venue:</span> <%= @thing.venue %>
          </div>
          <div class="padding-bottom-mini">
            <span class="bold">Address:</span> <%= @thing.address %>
          </div>
        </div>

      </div>
    </div>

    <div class="padding-bottom-mini padding-top-mini border-bottom">
      <div class="black-box">
        hey
      </div>
    </div>

    <div class="padding-vertical">
      <div class="flex">
        <div class="two-column">
          description
        </div>
        <div class="two-column">
          <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@thing.latitude},#{@thing.longitude}&markers=#{@thing.latitude},#{@thing.longitude}&zoom=15&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8" %>
        </div>
      </div>
    </div>


  </div>
</div>