<%= @city.title %>
<%= @city.latitude %>
<%= @city.longitude %>

<%= month_calendar events: (@events) do |day, events| %>    
  <%= content_tag :div, class: "calendar-day", data: {date: day} do %>      
    <%= day %>
    <% if events.any? %>
      <div class="events">
        <%= pluralize(events.count, "Event") %>
      </div>
    <% end %>
  <% end %>  
<% end %>