<%= provide(:title, sanitize(@city.title)) %>


<div class="wrapper">
  <div class="container">

    <div class="padding-vertical border-bottom">
      <div class="padding-bottom title">
        <%= @city.title %>
      </div>

      <div class="flex">
        <div class="">
          <img class="profile-image" src="<%= @city.image %>">
        </div>
      </div>

    </div>

    <div class="padding-bottom-mini padding-top-mini border-bottom">
      <div class="black-box">
        hey
      </div>
    </div>

    <div class="padding-vertical border-bottom">
      <div class="title">
        What's going on in <%= @city.city %>?
      </div>

      <%= month_calendar events: (@events) do |day, events| %>    
        <%= content_tag :div, class: "calendar-day", data: {date: day} do %>      
          <div class="day">
            <%= day %>
          </div>
          <% if events.any? %>
            <div class="events">
              <%= pluralize(events.count, "Event") %>
            </div>
          <% end %>
        <% end %>  
      <% end %>
    </div>

    <div class="padding-vertical">
      <div class="padding-bottom title">
        <%= link_to "Things to do in #{@city.city}", city_things_path(@city) %> | <%= link_to "Free?", city_free_path(@city) %>
      </div>

      <% @things.each do |thing| %>
        <div class="padding-bottom">
          <div class="flex padding-horizontal border-sides">
            <div class="twenty-two">
              <%= link_to(city_thing_path(@city, thing)) do %>
                <img class="thumbnail-image" srcset="<%= thing.image %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="fifty">
              <div class="post-title padding-bottom-mini">
                <%= link_to thing.title, city_thing_path(@city, thing) %>
              </div>
              <div class="bold uppercase">
                <%= thing.thing_type %>
              </div>
              <div class="bold padding-bottom-mini">
                <%= thing.venue %>
              </div>
              <div class="padding-bottom-mini">
                <%= thing.description %>
              </div>
            </div>
            <div class="twenty-two uppercase center center-height title-lower">
              <%= pluralize(thing.likes.count, "Like") %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>