<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view %> | 
    <span class="calendar-title">
      <% date_range.slice(0, 7).each do |day| %>
        <th><%= t('date.day_names')[day.wday] %></th>
      <% end %>
      <%= start_date.day %>
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
       | <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view %>
    <% if @user %>
      <%= link_to "+", new_event_path(start_time: start_date, end_time: start_date) %>
    <% end %>
    <% if @city %>
      <%= link_to "+", new_event_path(start_time: start_date, end_time: start_date, city_id: @city.id) %>
    <% end %>
  </div>

  <table class="table table-striped">

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr do %>
          <% week.each do |day| %>
            <% block.call day.strftime('%d'), sorted_events.fetch(day, []) %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
