<%= provide(:title, "Create An Event") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">

      <div class="title">
        Create an event
      </div>

      <div class="padding-top">
        <%= form_for(@event, url: events_path) do |f| %>
          <%= render 'partials/errors/event_errors' %>

          <div class="field">
            <div class="flex">
              <div class="field-three-column">
                <%= f.label :month %>
                <%= f.select :month, options_for_select(month_select) %>
              </div>
              <div class="field-three-column">
                <%= f.label :day %>
                <%= f.select :day, options_for_select(day_select)%>
              </div>
              <div class="field-three-column">
                <%= f.label :year %>
                <%= f.select :year, options_for_select(year_select)%>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="flex">
              <div class="field-three-column">
                <%= f.label :start_hour %>
                <%= f.select :start_hour, options_for_select(hour_select)%>
              </div>
              <div class="field-three-column">
                <%= f.label :start_minute %>
                <%= f.select :start_minute, options_for_select(minute_select)%>
              </div>
              <div class="field-three-column">
                <%= f.label :start_am_pm %>
                <%= f.select :start_am_pm, options_for_select(am_pm_select)%>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="flex">
              <div class="field-three-column">
                <%= f.label :end_hour %>
                <%= f.select :end_hour, options_for_select(hour_select)%>
              </div>
              <div class="field-three-column">
                <%= f.label :end_minute %>
                <%= f.select :end_minute, options_for_select(minute_select)%>
              </div>
              <div class="field-three-column">
                <%= f.label :end_am_pm %>
                <%= f.select :end_am_pm, options_for_select(am_pm_select)%>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, class: "text-field" %>
          </div>

          <div class="field">
            <label class="black-button" for="event-image">Upload an event thumbnail</label>
            <%= f.hidden_field :image, value: @event.cached_image_data %>
            <span class="hidden"><%= f.file_field :image, id: "event-image" %></span>
            <div class="file-name"></div>
          </div>

          <div class="field">
            <%= f.label :venue %>
            <%= f.text_field :venue, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :address %>
            <%= f.text_field :address, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :what_to_bring %>
            <%= f.text_area :what_to_bring, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :what_to_wear %>
            <%= f.text_area :what_to_wear, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :where_to_park %>
            <%= f.text_area :where_to_park, class: "text-area" %>
          </div>

          <div class="field flex">
            <label class="checked-tab" id="free-tab" for="is-free-click">Free?</label>
            <%= f.radio_button(:event_type, "free", id: "is-free-click", checked: true) %>

            <label class="unchecked-tab" id="paid-tab" for="is-paid-click">Paid?</label>
            <%= f.radio_button(:event_type, "paid", id: "is-paid-click") %>
          </div>

          <div class="price-click">
            <div class="field">
              <%= f.label :price %>
              <%= f.text_field :price, class: "text-field" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :city_id %>
            <%= f.hidden_field :city_id %>
            <%= f.collection_select(:city_id, City.all, :id, :title) %>
          </div>

          <%= f.submit "Create event", data: { disable_with: 'Creating...' }, class: "submit-button" %>
        <% end %>
      </div>

    </div>
  </div>
</div>