<%= provide(:title, sanitize(@event.title)) %>
<%= render 'events/partials/events_twitter_cards' %>

<div class="wrapper">
  <div class="container">

    <div class="padding-vertical border-bottom">
      <div class="padding-bottom title">
        <%= @event.title %>
      </div>

      <div class="flex">
        <div class="seventy">

          <% if user_signed_in? && (@event.user_id == current_user.id || current_user.id == @owner.id) %>
            <div class="flex">
              <div class="two-column">
                <%= link_to(edit_city_event_path(@city, @event)) do %>
                  <div class="margin-bottom-mini black-button">
                    Edit
                  </div>
                <% end %>
              </div>
              <div class="two-column">
                <%= link_to(city_event_path(@city, @event), data: { confirm: "Are you sure? This cannot be undone. Ever..." }, method: :delete) do %>
                  <div class="margin-bottom-mini delete-button">
                    Delete
                  </div>
                <% end %>
                <span class="hard-text"></span>
              </div>
            </div>
          <% end %>

          <img class="profile-image" src="<%= @event.image_url(:original) %>">
        </div>

        <div class="thirty flex">

          <% if user_signed_in? && current_user.rsvped?(@event) %>
            <div class="padding-bottom-mini">
              <%= link_to "Delete RSVP", city_event_rsvp_path(@city, @event, current_user.rsvp_id(@event)), method: :delete, class: "submit-button" %>
            </div>
          <% elsif user_signed_in? %>
            <div class="padding-bottom-mini">
              <%= link_to "RSVP", city_event_rsvps_path(@city, @event), :method => :post, class: "submit-button" %>
            </div>
          <% else %>
            <%= link_to(sign_in_path) do %>
              <div class="submit-button margin-bottom-mini">
                RSVP
              </div>
            <% end %>
          <% end %>


          <div class="flex padding-bottom-mini">
            <div class="two-column">
              <div class="padding-bottom-mini">
                <a onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=<%= city_event_url(@city, @event) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="facebook-button">F</a>
              </div>
            </div>
            <div class="two-column">
              <div class="padding-bottom-mini">
                <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @event.title %> - &amp;url=<%= city_event_url(@city, @event) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="twitter-button">T</a>
              </div>
            </div>
          </div>
          

          <div class="padding-bottom-mini">
            <span class="letter-spacing">RSVPs:</span> <%= @event.rsvps.count %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">Type:</span> <%= @event.event_type.capitalize %><%= " - $" + @event.price.to_s if @event.paid? %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">Date:</span> <%= @event.month %>.<%= @event.day %>.<%= @event.year %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">City:</span> <%= link_to @event.city.city, city_path(@city) %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">State:</span> <%= @event.city.state %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">Country:</span> <%= @event.city.country %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">Start:</span> <%= @event.start_hour %>:<%= @event.start_minute %> <%= @event.start_am_pm %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">End:</span> <%= @event.end_hour %>:<%= @event.end_minute %> <%= @event.end_am_pm %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">Venue:</span> <%= @event.venue %>
          </div>
          <div class="padding-bottom-mini">
            <span class="uppercase letter-spacing">Address:</span> <%= @event.address %>
          </div>
        </div>

      </div>
    </div>

    <%= render 'partials/ad_trash' %>

    <div class="padding-vertical">
      <div class="flex">
        <div class="two-column-mobile">
          <div class="padding-bottom">
            <div class="uppercase letter-spacing">
              Description
            </div>
              <%= sanitize(@event.description) %>
          </div>
          <div class="padding-bottom">
            <div class="uppercase letter-spacing">
              What to wear
            </div>
              <%= sanitize(@event.what_to_wear) %>
          </div>
          <div class="padding-bottom">
            <div class="uppercase letter-spacing">
              What to bring
            </div>
              <%= sanitize(@event.what_to_bring) %>
          </div>
          <div class="padding-bottom">
            <div class="uppercase letter-spacing">
              Where to park
            </div>
              <%= sanitize(@event.where_to_park) %>
          </div>
        </div>
        <div class="two-column-mobile google_map">
          <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=15&size=704x440&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8" %>
        </div>
      </div>
    </div>


  </div>
</div>