<%= provide(:title, "Settings") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">


      <div class="title">
        Settings
      </div>

      <div class="padding-top">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password %> <span class="dark small-text"><%= @minimum_password_length.to_s + " characters minimum" if @minimum_password_length %></span>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <span class="dark small-text">Your current password confirms your changes</span><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "submit-button" %>
          </div>
        <% end %>
      </div>

      <div class="title padding-top-large">
        Delete your account?
      </div>

      <div class="padding-top">
        <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure? You will never see this account again!" }, method: :delete, class: "delete-button" %>
      </div>

    </div>
  </div>
</div>
